


<div style="margin-top:20px">
<button (click)="evtSubmit()" class="btn btn-success" > Create</button> 
</div>
<div style="margin-top: 20px; padding: 20px">
  <table class="table table-bordered table-dark table-hover table-stripped">
    <thead>
      <tr>
        <th>Update</th>
        <th>Delete</th>
        <th>ContactTitle</th>
        <th>CustomerID</th>
        <th>CompanyName</th>
        <th>ContactName</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of Customers">
        <td>
          <button type="button" 
          class="btn btn-primary btn-xs"
          (click)="userUpdate(record)">Edit</button>
          &nbsp;
        </td>
        <td>
          <button type="button"
           class="btn btn-danger" (click)="userDelete(record)">Delete</button>
        </td>
        <td>{{record.ContactTitle}}</td>
        <td>{{record.CustomerID}}</td>
        <td>{{record.CompanyName}}</td>
        <td>{{record.ContactName}}</td>
        <td>{{record.Address}}</td>
      </tr>
    </tbody>
  </table>
</div>
